body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 4%;
    margin-bottom: 6%;
}

th {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}