.profile-info {
	max-width: 800px;
	margin: 0 auto;
	border: 4px solid #0e0e0e;
	padding: 20px;
	margin-top: 5%;
	margin-bottom: 10%;

	display: flex;
	align-items: center;
	background-image: linear-gradient(to right, #ff0000, #0000ff);
}

.photo-container {
	margin-right: 20px;
}