#Barre_de_trie {
    position: absolute;
    top: 190px;
    left: 20px;
}

#Barre_de_filtre {
    position: absolute;
    top: 190px;
    left: 500px;
}

#Barre_de_filtre2 {
    position: absolute;
    top: 190px;
    left: 700px;
}

#Barre_de_filtre3 {
    position: absolute;
    top: 190px;
    left: 900px;
}

#Barre_de_filtre4 {
    position: absolute;
    top: 190px;
    left: 1250px;
}

.idBoutonUnAUn,
.idBoutonPlusieurs,
.button-position,
.btn_trier {
    position: absolute;
    top: 150px;
    font-family: 'Arial', sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #001164;
    color: #ffffff;
}

.idBoutonUnAUn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  

.idBoutonPlusieurs {
    right: 60px;
}

.button-position {
    left: 50px;
    margin: 10px;
}

.btn_trier {
    left: 400px;
    top: 37px;
}

.titreTrier {
    position: absolute;
    left: 180px;
    top: 10px;
    color: #808080;
    text-decoration: underline;
}
