html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer-basic {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Hauteur du pied de page */
  background-color: #f8f9fa; /* Couleur de fond du pied de page */
}

.footer-basic footer {
  padding: 10px;
}

.footer-basic ul.list-inline {
  margin-bottom: 0;
}

.footer-basic ul.list-inline li {
  margin-right: 10px;
}

.footer-basic p.text-center {
  margin-bottom: 0;
}